.mobile-overlay{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.1);
  -webkit-animation: m-offcanvas-overlay-fade-in .3s linear 1;
  -moz-animation: m-offcanvas-overlay-fade-in .3s linear 1;
  -ms-animation: m-offcanvas-overlay-fade-in .3s linear 1;
  -o-animation: m-offcanvas-overlay-fade-in .3s linear 1;
  animation: m-offcanvas-overlay-fade-in .3s linear 1;
}